[nexus_rhel7]
name = Nexus {{ ansible_distribution|title }} {{ ansible_distribution_version.split('.')[0] }} Base OS
baseurl = {{ nexus_public_scheme }}://localhost/repository/yum-all/$releasever/$basearch/os
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled = 1
enabled_metadata = 1
priority = 1
sslverify = False

[nexus_rhel7_appstream]
name = Nexus {{ ansible_distribution|title }} {{ ansible_distribution_version.split('.')[0] }} AppStream
baseurl = {{ nexus_public_scheme }}://localhost/repository/yum-all/$releasever/$basearch/appstream/os
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled = 1
enabled_metadata = 1
priority = 1
sslverify = False

[nexus_epel7]
name = Nexus EPEL 7 AppStream
baseurl = {{ nexus_public_scheme }}://localhost/repository/yum-all/$releasever/$basearch
gpgcheck = 0
enabled = 0
enabled_metadata = 1
priority = 1
sslverify = False
